.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0px;
    background-color: #1F2D3D;
    color: #ffffff;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
}

/* Navigation Links */
.navLinks {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navLinks li {
    display: inline;
}

.navLinks a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navLinks a:hover span {
    color: #FFD700; /* Gold hover effect */
    border-bottom: 2px solid #FFD700;
    padding-bottom: 2px;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .navLinks {
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
    }
}
